.container{
    background-color: #fdfdfd;
}

.cs-breadcrumb{
    background-color: #f5f5f5;
}

.cs-content{
    text-decoration: none;
    color: rgba(0,0,0,.87);
}
.cs-categories-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cs-categories-link{
    border: 1px solid rgba(0, 0, 0, .05);
    text-align: center;
    text-decoration: none;
    width: calc(1320px / 7);
    height: auto;
    box-sizing: border-box;
    transition: background-color 0.1s ease, transform 0.1s ease;
}

.cs-categories-link:hover{
    transform: scale(1.05);
    background-color: #fdfdfd

}

.cs-categories-item{  
    width: 184px;

}

.cs-categories-img{
    margin: 10px 14px;
    width: 170px;

}

.cs-categories-title{
   color: black;
}

.cs-categories-ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2.5rem;
    padding: 0 6.25rem;
}

.cs-categories-li{
    display: inline-block;
    flex-basis: 100%;
}

.cs-categories-highlight:hover{
    cursor: pointer;
}



.cs-categories-highlight{
    color: var(--primary);
}

.cs-categories-detail{
    margin-bottom: 2rem;
    margin-top: 2rem;
}


.cs-categories-detail-heading{
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-size: 2.25rem;
    font-weight: 500;
    padding: .625rem 1.25rem;
}

.cs-categories-detail-content{
   margin: 1.5rem 2.125rem;
}

.cs-categories-detail-title{
    color: var(--primary);
    display: block;
    margin-bottom: .625rem;
    margin-top: .625rem;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.cs-categories-detail-name{
    color: rgba(0, 0, 0, .54);
    text-decoration: none;
}