// search fullscreen on click social-category-link
:root {
    --width-input-default : 300px;
    --width-input-default : 100%;
    --height-input-default: 32px;
    --height-input-default: 40px;
}

.header-search {
    position: relative;
    width   : var(--width-input-default);
    height  : var(--height-input-default);

    .search {

        .input-search {
            font-size    : 14px;
            width        : var(--width-input-default);
            height       : var(--height-input-default);
            background   : #FFF;
            color        : #1d1d1f;
            border-radius: 2px;
            border       : none;
            padding      : 8px 42px 8px 8px;

            &:focus-visible {
                outline: unset;
            }
        }


        .clear {
            color           : var(--primary);
            position        : absolute;
            top             : 50%;
            transform       : translateY(-50%);
            right           : calc(calc(var(--height-input-default) - 4px) + 30px);
            border          : none;
            background-color: #FFF;

            .clear-icon {
                font-size      : 17px;
                display        : flex;
                justify-content: center;
                align-items    : center;
            }

            .clear-icon:hover {
                opacity: 0.7;
            }

            .spinner-icon {
                font-size   : 17px;
                margin-right: 8px;
                animation   : spinner 1s linear infinite;
            }

            @keyframes spinner {
                from {
                    transform: rotate(0);
                }

                to {
                    transform: rotate(360deg);
                }
            }
        }

        .wall {
            position        : absolute;
            top             : 50%;
            transform       : translateY(-50%);
            right           : calc(calc(var(--height-input-default) - 4px) + 26px);
            width           : 1px;
            height          : calc(var(--height-input-default) - 10px);
            background-color: var(--primary);
        }

        .btn-search {
            position        : absolute;
            top             : 50%;
            right           : 2px;
            transform       : translateY(-50%);
            display         : flex;
            align-items     : center;
            justify-content : center;
            width           : calc(var(--height-input-default) + 16px);
            height          : calc(var(--height-input-default) - 4px);
            border          : none;
            border-radius   : 2px;
            background-color: var(--primary);
            outline         : none;
            cursor          : pointer;

            .btn-search-icon {
                color    : #FFF;
                font-size: 1.2rem;
            }

            &:hover {
                opacity: 0.9;
            }
        }

    }

    .search-result {
        position        : absolute;
        width           : var(--width-input-default);
        margin-top      : -10px;
        left            : 50%;
        transform       : translateX(-50%);
        border-radius   : 2px;
        padding         : 0px 8px 8px 16px;
        background-color: #FFF;
        box-shadow      : rgba(0, 0, 0, 0.12) 0px 2px 12px;

        .result-title {
            color           : #000;
            display         : flex;
            align-items     : center;
            font-size       : 1.4rem;
            font-weight     : 500;
            height          : 30px;
            padding-left    : 8px;
            margin          : 0px -8px 0 -16px;
            background-color: rgba(0, 0, 0, 0.08);
        }
    }
}