.activeProduct {
    border: 2px solid var(--primary)!important;
    color: var(--primary)!important;
}
.container {
    background-color: transparent!important;
    padding-bottom: 60px;
}

.cs-path-product {
    margin-top: 20px;
    height: 1rem;
    white-space: nowrap;
}
.cs-path-item {
    text-decoration: none;
}
.cs-path-icon {
    height: 10px;
    width: 10px;
}

.cs-product-briefing {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
}

.cs-product-image {
    padding: 15px;
}
.cs-product-img-block {
    cursor: pointer;
}
.cs-list-image-block {
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}
.cs-list-img-block-item {
    width: 20%;
}
.cs-image-item {
    cursor: pointer;
    height: 83px;
    padding: 5px;
}

.cs-list-image-button {
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: .875rem;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1;
    outline: none;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    
    background-color: rgba(0, 0, 0, .2) !important;
    color: #fff;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
}

.cs-share-product{
    border-right: 1px solid rgba(0, 0, 0, .09);
    padding: 0 30px;
}
.cs-share-title{
    display: flex;
    align-items: center;
    color: #222;
    font-size: 16px;
}
.cs-share-item{
    font-size: 16px;
    margin-left: 5px;
    cursor: pointer;
}
.cs-share-fb {
    width: 25px;
    height: 25px;
    color: blue;
}
.cs-likes-product-icon {
    width: 25px; 
    height: 25px; 
    color: #ff424f; 
    margin-right: 10px;
}

.cs-product-information-section {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 35px;
}
.cs-name-product {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    max-height: 48px;
    max-width: 665px;
    overflow: hidden;
    overflow-wrap: break-word;
}
.cs-score-rating {
    border-bottom: 1px solid #555;
    border-bottom-color: var(--primary);
    color: var(--primary);
}
.cs-star{
    display: flex;
    align-items: center;
}
.cs-rating-cmt {
    border-left: 1px solid rgba(0, 0, 0, .14);
}
.cs-cmt-quantity {
    margin-right: 5px;
    font-size: 1rem;
    border-bottom: 1px solid #555;
    padding-bottom: 1px;
}
.cs-sold {
    margin-right: 5px;
    font-size: 1rem;
    padding-bottom: 1px;
}
.cs-report {
    font-size: 14px;
    margin-left: auto;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
}
.cs-price-product {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background: #fafafa;
    padding: 15px 20px;
}
.cs-price-default {
    color: #929292;
    font-size: 1rem;
    margin-right: 10px;
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}
.cs-price{
    color: var(--primary);
    font-size: 1.875rem;
    font-weight: 400;
}

.cs-discount {
    height: 16px;
    background: var(--primary);
    border-radius: 2px;
    color: #fff;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 15px;
    padding: 2px 4px;
    text-transform: uppercase;
    white-space: nowrap;
}

.cs-options {
    padding: 0 20px;
}
.cs-option-item {
    display: flex;
    margin-bottom: 25px;
    padding: 4px;
}
.cs-option-title {
    color: #757575;
    flex-shrink: 0;
    font-size: inherit;
    font-weight: 400;
    margin: 0;
    text-transform: capitalize;
    width: 110px;
}

.cs-option-value {
    display: flex;
    align-items: center;
    flex-basis: 515px;
    flex-wrap: wrap;
    margin-top: -8px;
    max-height: 220px;
    max-width: 515px;
    overflow-y: auto;
    scroll-behavior: smooth;

}
.cs-option-value-item-btn {
    align-items: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    margin: 8px 8px 0 0;
    min-height: 2.5rem;
    min-width: 5rem;
    outline: 0;
    overflow: visible;
    padding: .5rem;
    position: relative;
    text-align: left;
    word-break: break-word;
}
.cs-option-transport {
    display: flex;
}
.cs-option-transport-icon {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20px;
}
.cs-option-transport-location {
    cursor: pointer;
}
.cs-btn-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    color: rgba(0, 0, 0, .8);
    font-size: .875rem;
    font-weight: 300;
    height: 32px;
    width: 32px;
    letter-spacing: 0;
    line-height: 1;
    outline: none;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    cursor: pointer;
}
.cs-quantity-input {
    border-left: 0;
    border-radius: 0;
    border-right: 0;
    cursor: text;
    font-size: 16px;
    font-weight: 400;
    height: 32px;
    text-align: center;
    width: 50px;
    border: 1px solid rgba(0, 0, 0, .09);
    letter-spacing: 0;
    line-height: 1;
    outline: none;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
}
.cs-quantity-input:focus-visible {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #000;
}
.cs-btn-add-cart {
    color: var(--primary);
    background-color: #ecfff1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    min-width: 180px;
    height: 48px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid var(--primary);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
}
.cs-btn-add-cart:hover {
    background-color: #d4ffdf;
}
.cs-btn-add-cart-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.cs-btn-buy {
    padding: 0 20px;
    height: 48px;
    max-width: 250px;
    min-width: 180px !important;
    background: var(--primary);
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    cursor: pointer;
}

.cs-product-shop {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    background-color: #fff;

}

.cs-shop-avatar {
    height: 80px;
    width: 80px;

}
.cs-shop-avatar img {
    border-radius: 50%;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.cs-info-shop {
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, .05);
    box-sizing: border-box;
    max-width: 440px;
    padding-right: 25px;

}
.cs-status-shop {
    align-items: center;
    color: #757575;
    display: flex;
    font-size: 14px;
}
.cs-shop {
    display: flex;
    margin-top: 8px;
}
.cs-btn-chat-shop {
    color: var(--primary);
    background-color: #ecfff1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    min-width: 60px;
    height: 34px;
    font-size: 14px;
    border: 1px solid var(--primary);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
}
.cs-btn-add-cart:hover {
    background-color: #d4ffdf;
}
.cs-btn-to-shop{
    background-color: #e3ffea;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 190px;
    min-width: 60px;
    height: 34px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
    color: #555;
    text-decoration: none;

}
.cs-btn-to-shop:hover {
    background: rgba(0, 0, 0, .02);
}
.btn-shop-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
.cs-info-shop-orther {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 20px 50px;
    color: rgba(0, 0, 0, .4);
    gap: 20px 50px;
}
.cs-product-content {
    display: flex;
    min-height: 40rem;
}
.cs-content-header {
    background: rgba(0, 0, 0, .02);
    color: rgba(0, 0, 0, .87);
}
.cs-product-detail {
    background-color: #fff;
    margin-top: 15px;
    padding: 10px;

}
.cs-product-detail-title {
    box-sizing: border-box;
    color: rgba(0, 0, 0, .4);
    font-size: .875rem;
    padding-right: .75rem;
    width: 8.75rem;
    word-break: break-word;
}
.cs-product-rating {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    background-color: #fff;
}

.cs-product-rating-overview {
    background-color: #f3fff6;
    border: 1px solid #c1f2cd;
    border-radius: 2px;
}

.cs-product-rating-score {
    color: var(--primary);
    font-size: 1.125rem;
}
.cs-product-rating-filter {
    display: flex;
    flex: 1;
}
.cs-product-rating-filter .cs-product-rating-filter_item {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    margin-bottom: .3125rem;
    margin-right: .5rem;
    margin-top: .3125rem;
    min-width: 6.25rem;
    padding: 0 .625rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
}
.cs-product-rating-comment-item {
    align-items: flex-start;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    display: flex;
    padding: 1rem 0 1rem 1.25rem;
}
.cs-product-rating-comment-item:first-child {
    padding-top: 0;
}
.cs-comment-author-name {
    color: rgba(0, 0, 0, .87);
    font-size: .75rem;
    text-decoration: none;
}
.cs-comment-img-video {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.cs-comment-item-img {
    width: 100%;
    cursor: zoom-in;
    object-fit: cover;
}
.cs-zoom-control-btn {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    transition: all .1s cubic-bezier(.4,0,.6,1);
}
.cs-zoom-block {
    position: relative;
}
.cs-control-img-zoom-icon {
    padding: 5px;
    height: 30px;
    width: 30px;
    line-height: 25px;
    color: rgba(0, 0, 0, .54);
    cursor: pointer;
}
.cs-comment-shop-reply {
    background-color: #f5f5f5;
    margin-bottom: .75rem;
    padding: .875rem .75rem;
    position: relative;
}
.cs-shop-reply-header {
    color: rgba(0, 0, 0, .87);
    font-size: .875rem;
    font-weight: 500;
    text-transform: capitalize;
}
.cs-shop-reply-main {
    color: rgba(0, 0, 0, .65);
    margin-top: .625rem;
    white-space: pre-wrap;
}
.cs-action-like-icon {
    cursor: pointer;
}.cs-action-report {
    cursor: pointer;
    position: relative;
}
.cs-report-comment {
    position: absolute!important;
    inset: 0 0 auto auto!important;
    min-width: 108px!important;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09)!important;
    border-radius: 2px!important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .05);
    cursor: pointer;
}
.cs-check-input-report:checked {
    background-color: var(--primary)!important;
    border-color: var(--primary)!important;
}
.cs-inputReport {
    appearance: none;
    border: .5px solid rgba(0, 0, 0, .09);
    border-radius: .125rem;
    margin-bottom: .75rem;
    outline: none;
    padding: .75rem;
    width: 90%;
}
.cs-btn-modal-report {
    width: 140px;
    border-radius: 2px!important;
}
.cs-btn-modal-report.disable {
    opacity: 0.25!important;
    cursor: not-allowed!important;
}
.btn:disabled {
    pointer-events: all!important;
    background-color: var(--primary)!important;
}
.cs-pagination-comment {
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    text-align: right;
}
.cs-recommend-header {
    padding-top: 1.25rem;
    line-height: 1;
    align-items: center;
    display: flex;
    padding-bottom: .625rem;

}
.cs-recommend-header span {
    color: rgba(0, 0, 0, .54);
    font-size: 1rem;
    font-weight: 500;
}
.cs-recommend-content {
    position: relative;
    width: 100%;
    height: 100%;
}
.cs-recommend-list {
    width: 100%;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth;
}
.cs-recommend-list::-webkit-scrollbar {
    display: none;
}
.cs-recommend-scroll-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    transition: all .1s cubic-bezier(.4,0,.6,1);
}
.cs-see-more {
    margin: .625rem auto 0;
    max-width: none;
    width: 24.375rem;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .09);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
    color: #555;
    outline: 0;
    overflow: visible;
    position: relative;
    height: 40px;
    min-width: 70px;
    padding: 0 20px;
}
.cs-right-content-header {
    color: rgba(0, 0, 0, .4);
    font-size: inherit;
    font-weight: 400;
    margin: .625rem 0 0;
    padding: 0 5px;
    text-transform: capitalize;
}
.cs-product-hot-sales {
    margin-left: .9375rem;
    background: #fff;
    border-radius: .125rem;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    margin-top: .9375rem;
    overflow: hidden;
    padding: .625rem;
}
.cs-product-hot-sales-item {
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    padding: 1.25rem 0;
    cursor: pointer;
}
.cs-item-card {
    cursor: pointer;
}
.cs-item-card-img {
    width: 100%;
    margin-bottom: 5px;
}
.cs-item-card-body {
    padding: 0 10px;
}
.cs-item-card-name {
    padding-top: 5px;
    line-height: 1rem;
    margin-bottom: 4px;
}
.cs-item-card-price {
    color: var(--primary);
    display: block;
    height: 2.625rem;
}


/* modal */
.cs-modal-left {
    height: 100%;
    flex: 1;
    height: 100%;
    overflow: hidden;
    padding: 12px 0 12px 12px;
    position: relative;
    width: 100%;
}
.cs-modal-left-img {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}
.cs-modal-img {
    height: 100%;
    left: 0;
    object-fit: contain;
    object-position: center;
    position: absolute;
    right: 0;
    width: 100%;
}
.cs-modal-list-image-button {
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1;
    outline: none;
    transition: background-color .1s cubic-bezier(.4,0,.6,1);
    
    background-color: rgba(0, 0, 0, .2) !important;
    color: #fff;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    z-index: 2;
}

.cs-modal-right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2.5rem 0 1.875rem 12px;
    width: 19.25rem;
}
.cs-modal-name-product {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-size: 1.0625rem;
    word-wrap: break-word;
    height: 2.25rem;
    line-height: 1.125rem;
    padding-right: 12px;
}
.cs-modal-list-img {
    align-content: flex-start;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 1.25rem;
    overflow: auto;
}
.cs-modal-img-block {
    position: relative;
    height: 5rem;
    margin-bottom: 12px;
    margin-right: 12px;
    width: 5rem;
    cursor: pointer;
}
.cs-modal-img-item {
    position: absolute;
    width: 100%;
}