.container {
    padding: 0;
    background-color: #fff;
}

.cs-item-block{
    box-sizing: border-box;
    height: 100%;
}
.cs-card{
    overflow: hidden;
    position: relative;
}
.cs-item-pic-content{
    width: 100%;
    object-fit: cover;
}
.cs-card-body{
    width: 100%;
    height: 206px;
    top: 0;
    right: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    right: -100%;
    transition: 0.16s;
    overflow: hidden;

    .cs-custom-btn{
        margin-top: 80px;
        width: 80px;    
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
        outline: none;
    }
    
    .codepro-btn-3 {
        background: var(--primary);
        background: linear-gradient(0deg, rgb(0, 238, 143) 0%, rgb(2, 251, 35) 100%);
        width: 80px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
        position: relative;
        overflow: hidden;
    }
    
    .codepro-btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-align: center;
        line-height: 40px;
        transition: color 0.3s ease;
    }
    
    .codepro-btn-3:before,
    .codepro-btn-3:after {
        position: absolute;
        content: "";
        right: 0;
        top: 0;
        background: var(--primary);
        transition: all 0.3s ease;
    }
    
    .codepro-btn-3:before {
        height: 0%;
        width: 2px;
    }
    
    .codepro-btn-3:after {
        width: 0%;
        height: 2px;
    }
    
    .codepro-btn-3:hover {
        background: transparent;
        box-shadow: none;
    }
    
    .codepro-btn-3:hover:before {
        height: 100%;
    }
    
    .codepro-btn-3:hover:after {
        width: 100%;
    }
    
    .codepro-btn-3 span:hover {
        color: var(--primary);
    }
    
    .codepro-btn-3 span:before,
    .codepro-btn-3 span:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        background: var(--primary);
        transition: all 0.3s ease;
    }
    
    .codepro-btn-3 span:before {
        width: 2px;
        height: 0%;
    }
    
    .codepro-btn-3 span:after {
        width: 0%;
        height: 2px;
    }
    
    .codepro-btn-3 span:hover:before {
        height: 100%;
    }
    
    .codepro-btn-3 span:hover:after {
        width: 100%;
    }
}

.cs-card:hover .cs-card-body{
    right: 0;
}

.cs-item-desc{
    padding: 8px;
}

.cs-item-desc,
.cs-item-desc-title{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.cs-item-desc-content{
    word-wrap: break-word;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.cs-item-desc-voucher{
    align-items: center;
    display: flex;
    margin-top: .25rem;
    overflow: hidden;
}
.cs-voucher{
    display: inline-block;
    color: var(--primary);
    border-radius: .0625rem;
    border: .0625rem solid;
    background-color: transparent;
    padding: 1px 2px;
    font-size: 10px;
}

.cs-item-desc-voucher >div:not(:last-child){
    margin-right: .25rem;
}

.cs-item-desc-price{
    
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: .5rem 0 0;
}
.cs-item-desc-price-sale{
   
    margin-right: .3125rem;
    max-width: calc(100% - 32.35px);
}

.cs-unit{
    font-size: .65rem !important;
    color: var(--primary);
}

.cs-item-rating{
    margin-top: 12px;
}