.btn-custom {
  color          : #000;
  flex           : 1;
  display        : flex;
  justify-content: space-evenly;
  font-size      : 15px;
  padding        : 6px 0;
  border         : 1px solid #ccd0d5;
  border-radius  : 4px;
  cursor         : pointer;
}

.text-footer {
  font-size  : 12px;
  list-style : 12px;
  font-family: inherit;
}